# Ignore everything in the *root directory*
/*

# Ignore all pycache folders everywhere
__pycache__

# Don't ignore the following files/folders in the root directory
!/.gitlab
!/.vscode
!/tests
!/plot_serializer
!/doc

!/.gitignore
!/make.bat
!/Makefile
!/pyproject.toml
!/requirements.txt
