# Python version
python_version >= "3.10"

# Code dependencies
numpy
matplotlib
pydantic
rdflib

# Documentation
sphinx
sphinx_rtd_theme
autodoc_pydantic

# Linting & Formatting
flake8
black

# Type checking
mypy

# Unit testing
pytest
